<%- include('./partials/header'); %>

<div class="card login p-5" style="margin-top:80px;">
    <% if (responses.messageErr !== "") {%>
        <div class="alert alert-danger alert-dismissible fade show w-100" role="alert">
            <strong id="errRegister"><%= responses.messageErr %></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>
    <% if (responses.messageOK !== "") {%>
        <div class="alert alert-success alert-dismissible fade show w-100" role="alert">
            <strong id="errRegister"><%= responses.messageOK %></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>
    <h1 class="mb-4 mx-auto">Lista de usuarios</h1>
    <%var i=0%>
    <%UserData.forEach(el => {%>
    <div class="accordion " id="accordion">
        <div class="card comentarios">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapse<%=i%>">
                        <div class="row">
                            <div class="col-sm">
                                Nombre: <%=el.uNombre%>
                            </div>
                            <div class="col-sm">
                                Sucursal: <%=el.sNombre%>
                            </div>
                            <span class="btn btns btn-alert mr-2" type="" onclick="editarUsuario('<%=el.id%>')" id="edit"><i class="far fa-edit" ></i></span>
                            <span class="btn btns" type="" onclick="borrarUsuario('<%=el.id%>')"><i class="far fa-trash-alt"></i></span>
                        </div>
                    </button>
                </h2>
            </div>

            <div id="collapse<%=i%>" class="collapse">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-sm">
                            Nombre: <%=el.uNombre%>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm">
                            Sucursal: <%=el.sNombre%>
                        </div>
                        <div class="col-sm">
                            Tipo de usuario: <%=el.tipo_usuario%>
                        </div>
                        <div class="col-sm">
                            Cargo: <%=el.cargo%>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm">
                            Correo: <%=el.correo%>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm">
                            Contraseña: ******
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%i++%>
    <%});%>
        

</div>

<%- include('./partials/bottom'); %>