<%- include('./partials/header'); %>

<script>
    var Ubicacion = "<%=ubicacion%>"
    var length = "<%=CartInfo.length%>"
    var Cart = <%-JSON.stringify(CartInfo)%>
    var sucursal = "<%=sucursal%>"
  </script>

<%var subtotal=0,total=0%>
<%for(let i in CartInfo){%>
  <%let calc = Number(CartInfo[i].data.precio)*Number(CartInfo[i].cantidad)%>
  <%subtotal+=Number(calc)%>
<%}%>
<%total=subtotal+total%>

<div class="containerContact">
	<h2 class="name-login"> <img src="/Images/BigLogo.png" style="padding-bottom: 9px;"> Finaliza tu compra</h2>

	<div class="containerBuy">
        <form action="/Checkout" method="POST">
            <div class="row marginrow text-center">
                <div class="col-sm-5 bgData">
                    <h2 class="legend col-md-12 col-sm-12 col-xs-12">Productos</h2>
                    <div class="table-products">
                        <table class="table table-hover table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%for (let i in CartInfo){%>
                                    <tr>
                                        <th scope="row"><%=CartInfo[i].data.nombre%></th>
                                        <td id="Qtty<%=i%>"><%=CartInfo[i].cantidad%></td>
                                        <td>$<%= CartInfo[i].data.precio * CartInfo[i].cantidad %></td>
                                    </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>    
                    <ul class="list-unstyled mb-4">

                        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted" >Subtotal </strong> <span id="subTotalPrice"><strong>$<%=subtotal%></strong></span></li>
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Envio</strong><strong id="Shipping">$0.00</strong></li>
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Impuesto</strong><strong id="Taxes">$0.00</strong></li>
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted" >Total</strong>
                          <h5 class="font-weight-bold" id="TotalPrice">$<%=total%></h5>
                        </li>
                      </ul>
                </div>
                <div class="col-sm-6 bgData">
                    <div id="shipping_address" class="row">

                        <h2 class="legend col-md-12 col-sm-12 col-xs-12">Direccion de Envio</h2>
                        <div id="shipping_address_name" class="field text-field col-md-6 col-sm-12 col-xs-12 form-group">
                            <label for="order_shipping_address_name" class="control-label">Nombre <em>*</em></label>
                            <input type="text" name="order_shipping_address[name]" id="order_shipping_address_name"
                                class="text form-control" required="required" autocomplete="given-name">

                        </div>

                        <div id="shipping_address_surname" class="field text-field col-md-6 col-sm-12 col-xs-12 form-group">
                            <label for="order_shipping_address_surname" class="control-label">Apellido <em>*</em></label>
                            <input type="text" name="order_shipping_address[surname]" id="order_shipping_address_surname"
                                class="text form-control" required="required" autocomplete="family-name">
                        </div>

                        <div id="shipping_address_country"
                            class="field select-field col-md-6 col-sm-12 col-xs-12 form-group">
                            <label for="order_shipping_address_country" class="control-label">Sucursal<em>*</em></label>
                            <select name="sucursal" id="sucursal"
                                class="select col-sm-12 form-control" autocomplete="country">
                                    <option selected><%= sucursal %></option>
                            </select>
                        </div>

                        <div id="shipping_address_country"
                            class="field select-field col-md-6 col-sm-12 col-xs-12 form-group">
                            <label for="order_shipping_address_country" class="control-label">Pais<em>*</em></label>
                            <select name="destino" id="PaisSelect"
                                class="select col-sm-12 form-control" autocomplete="country">
                                <option selected disabled value="">Elegir...</option>

                            </select>
                        </div>

                        <div id="shipping_address_region"
                            class="field select-field col-md-6 col-sm-12 col-xs-12 form-group">
                            <label for="order_shipping_address_region" class="control-label">Estado<em>*</em></label>
                            <select name="order_shipping_address[region]" id="inputLoc"
                                class="select col-sm-12 form-control" autocomplete="address-level1">
                                
                            </select>

                        </div>

                        <div id="shipping_address_address" class="field text-field col-md-6 col-sm-12 col-xs-12 form-group">
                            <label for="order_shipping_address_address" class="control-label">Direccion <em>*</em></label>
                            <input type="text" name="address"
                                placeholder="Ej. Av 5 de Julio Frente al Seniat" id="order_shipping_address_address"
                                class="text form-control" required="required" autocomplete="street-address">

                        </div>

                        <div id="shipping_address_postal" class="field text-field col-md-6 col-sm-12 col-xs-12 form-group">
                            <label for="order_shipping_address_postal" class="control-label">Codigo Postal </label>
                            <input type="text" name="order_shipping_address[postal]" placeholder="Ej. 4001"
                                id="order_shipping_address_postal" class="text form-control" autocomplete="postal-code">

                        </div>

                    </div>
                </div>

                <div class="col-11 bgDataTransfer">
                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">N°</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Número de refrencia" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Subir Archivo</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                                aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Suba su Referencia del Banco</label>
                        </div>
                    </div>
                </div>
                
                <div class="row justify-content-center bgButtonTransfer">
                    <input type="number" name="idsucursal" value="<%=idsucursal%>" class="invisible">
                    <input type="date" name="Fsalida" id="Fsalida" class="invisible">
                    <input type="date" name="Fentrega" id="Fentrega" class="invisible">
                    <div class="Login-button ">
                            <button type="submit" class="btn btn-primary">Finalizar Compra</button>
                    </div>
                </div>
            </div>
        </form>
	</div>

	<%- include('./partials/bottom'); %>