<%- include('./partials/header'); %>

<script>
  var Ubicacion = "<%=ubicacion%>"
  var length = "<%=CartInfo.length%>"
  var Cart = <%- JSON.stringify(CartInfo) %>
</script>

<div class="px-4 px-lg-0">

    <h2 class="name-login"> <img src="/Images/BigLogo.png" style="padding-bottom: 9px;"> Tu Carrito</h2>
  
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
  
            <!-- Shopping cart table -->
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="border-0 bg-light">
                      <div class="p-2 px-3 text-uppercase">Producto</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Precio</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Cantidad</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Eliminar</div>
                    </th>
                  </tr>
                </thead>
                <tbody class="scroll">
                <%if(CartInfo!=null){%>
                    <%for (let i in CartInfo){%>
                        <tr>
                            <th scope="row" class="border-0">
                              <div class="p-2">
                                <img src="<%=CartInfo[i].data.IMG%>" alt="" width="70" class="img-fluid rounded shadow-sm">
                                <div class="ml-3 d-inline-block align-middle">
                                  <h5 class="mb-0"> <a href="/product/<%=CartInfo[i].data.id%>" class="text-dark d-inline-block align-middle"><%=CartInfo[i].data.nombre%></a></h5>
                                </div>
                              </div>
                            </th>
                            <td class="border-0 align-middle"><strong>$<%=CartInfo[i].data.precio%></strong></td>
                            <td class="border-0 align-middle"> <form action="/UpdateCart" method="POST" class="addForm" id="CartForm<%=i%>"">
                                <input type="number" class="addInput" value="<%=CartInfo[i].cantidad%>" name="cantidad" id="Qtty<%=i%>" min="1" onchange="SubmitCartForm('CartForm<%=i%>')">
                                <input type="number" value="<%=CartInfo[i].id%>" name="id" class="invisible">
                                <input type="number" value="<%=CartInfo[i].data.id%>" class="invisible" name="idProducto">
                                <input type="number" value="<%=Sesion.id%>" name="UsrId" class="invisible">
                            </form></td>
                            <form action="/DeleteFromCart" method="POST" class="addForm" id="DelForm<%=i%>">
                                <input type="number" value="<%=CartInfo[i].id%>" name="id" class="invisible">
                                <input type="number" value="<%=Sesion.id%>" name="UsrId" class="invisible">
                            </form>
                            <td class="border-0 align-middle"><a href="#" class="text-dark" onclick="SubmitDelete('DelForm<%=i%>')"><i class="fa fa-trash"></i></a></td>
                          </tr>
                          <tr>
                    <%}%>
                <%}else{%>
                    <h2 style="text-align: center;">Tu carrito esta vacio</h2>
                <%}%>
                </tbody>
              </table>
            </div>
            <!-- End -->
          </div>
        </div>
  
        <div class="row py-5 p-4 bg-white rounded shadow-sm">
          <div class="col-lg-6">
            <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Recomendaciones</div>
            <div class="p-4">
              <p class="font-italic mb-4">Si tienes algun tipo de recomendacion dejala en la caja de comentario que se encuentra debajo</p>
              <textarea name="" cols="30" rows="2" class="form-control"></textarea>
            </div>
          </div>
          <%var subtotal=0,total=0%>
          <%for(let i in CartInfo){%>
            <%let calc = Number(CartInfo[i].data.precio)*Number(CartInfo[i].cantidad)%>
            <%subtotal+=Number(calc)%>
          <%}%>
          <%total=subtotal+total%>

          <div class="col-lg-6">
            <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Resumen de tu orden</div>
            <div class="p-4">
              <p class="font-italic mb-4">Los costos de envios y adicionales se ajustan en funcion de los productos en tu carrito</p>
              <ul class="list-unstyled mb-4">

                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted" >Subtotal </strong> <span id="subTotalPrice"><strong>$<%=subtotal%></strong></span></li>
                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Envio</strong><strong id="Shipping">$0.00</strong></li>
                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Impuesto</strong><strong id="Taxes">$0.00</strong></li>
                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted" >Total</strong>
                  <h5 class="font-weight-bold" id="TotalPrice">$<%=total%></h5>
                </li>
              </ul><a href="/buy/<%=Sesion.id%>" class="btn btn-dark rounded-pill py-2 btn-block">Realizar compra</a>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>

<%- include('./partials/bottom'); %>