<%- include('./partials/header'); %>

<div class="separador2">

</div>

<div class="containerProductpage">

    <div class="card mb-3 Producto page">
        <div class="">
            <img src="<%- Producto[0].IMG%>" class="card-img-top rounded img-producto" height="350" >
        </div>
        
        <div class="card-body center page">
          <h5 class="card-title"><%= Producto[0].nombre%></h5>
          <hr>
          <div class="card-description">
            <p class="card-text"><%= Producto[0].descripcion%></p>
          </div>
        </div>
        <script>
            Value= <%=Producto[0].precio%>
        </script>
        <div class="card-footer  price" >
            <i class="fas fa-dollar-sign"></i> <span id="Total"><%= Producto[0].precio%></span> 
              | Cantidad  <form id="qtty" action="/AddtoCart" method="POST"  class="addForm"><input type="number" name="cantidad" id="InputQtty" onchange="calculate()" class="addInput" required min="1" value="1" max=<%=Producto[0].cantidad%>> <input type="text" class="invisible" name="ID" value=<%=Producto[0].id%>></form> 
          </div>
          <div class="card-footer BuyBtn" onclick="AddToCart()">
            Añadir al carrito
          </div>
      </div>

</div>

<%- include('./partials/bottom'); %>