<%- include('./partials/header'); %>



<div class="containerProductpage">

    <div class="card mb-3 Producto page">
        <div class="">
            <img src="<%- Producto[0].IMG%>" class="card-img-top rounded img-producto" height="350" >
        </div>
        
        <div class="card-body center page">
          <h5 class="card-title"><%= Producto[0].nombre%></h5>
          <hr>
          <p class="card-text"><%= Producto[0].descripcion%></p>
        </div>
        <div class="card-footer  price">
            <i class="fas fa-dollar-sign"></i> <%= Producto[0].precio%>
          </div>
          <div class="card-footer BuyBtn">
            Comprar
          </div>
      </div>

</div>

<%- include('./partials/bottom'); %>