<%- include('./partials/header'); %>



<div class="containerProduct">

    <!-- <div class="card login">
        <div class="card-body colorBg">
            <div class="row">
                <div class="col-sm-6 card card-body-left">
                    <img src="<%- Producto[0].IMG%>" class="img-producto">
                </div>
                <div class="col-sm-5 card card-body-right">
                    <h1 class="center">Nombre: <%= Producto[0].nombre%></h1>
                    <div class="center">
                        <span class="text-product">Tipo de Medicamento: <%= Producto[0].tipo_medicamento%></span>
                        <hr>
                        <span class="text-product">Descripcion: <%= Producto[0].descripcion%></span>
                        <hr>
                        <span class="text-product" id="precio">Precio: <%= Producto[0].precio%></span>
                        <br>
                        <button class="btn btn-product">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="card mb-3 Producto">
        <div style="padding: 1% 15%; ">
            <img src="<%- Producto[0].IMG%>" class="card-img-top rounded" height="350" >
        </div>
        
        <hr>
        <div class="card-body center">
          <h5 class="card-title"><%= Producto[0].nombre%></h5>
          <hr>
          <p class="card-text"><%= Producto[0].descripcion%></p>
        </div>
        <div class="card-footer  price">
            <i class="fas fa-dollar-sign"></i> <%= Producto[0].precio%>
          </div>
          <div class="card-footer BuyBtn">
            Comprar
          </div>
      </div>

</div>

<%- include('./partials/bottom'); %>